<div class="row">
    <div class="col-xs-6 col-md-12">
        <a href="#" 
        class="clearfix" 
        >
            <div class="thumbnail">
                <!-- <img src="{{ recipe.image }}" alt="">
                <img [src]="recipe.image" alt=""> här kan du använda binding to source property -->
                <img src="..." alt="...">
                <div class="caption">
                    <h3>{{ recipe.title }}</h3>
                    <h5>{{ recipe.servings }}
                        <span class="glyphicon glyphicon-user"></span><!--add more glyphs per user with a loop-->
                    </h5>
                    <h5>{{ recipe.readyInMinutes }}<span class="glyphicon glyphicon-time"></span></h5>
                    <p>{{ recipe.summary }}</p>
                    <p><a href="#" class="btn btn-primary" role="button">Favourites</a></p>
                </div>
            </div>
        </a>
    </div>
</div>


<!-- <div class="col-md-3">
    <a href="#" class="list-group-item clearfix">
        <div class="pull-left">
            <h4 class="list-group-item-heading">recipe.title</h4>
            <p class="list-group-item-text">recipe.servings</p>
            <p class="list-group-item-text">recipe.readyInMinutes</p>
            <p class="list-group-item-text">recipe.</p>
        </div>
        <span class="pull-right">
            <img src="#" alt="" class="img-responsive">
        </span>
    </a>
</div> -->
