<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="image-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Recipe Name</p>
        <!-- <p>{{ recipe.title }}</p> -->
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <span 
          class="glyphicon glyphicon-heart button-toogle"
          type="submit"
          (click)="addToList()">
        </span>
        <!-- <p>{{ recipe.title }}</p> -->
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Recipe Servings</p>
        <!-- <p>{{ recipe.servings }}</p> -->
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Ready In Minutes</p>
       <!--  <p>{{ recipe.readyInMinutes }}<span class="glyphicon glyphicon-time"></span></p> -->
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Sallad</p>
        <!-- <p>{{ recipe.ingredientString }}</p> -->
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Instructions</p>
        <!-- <p>{{ recipe.instructions }}</p> -->
    </div>
</div>
